<!DOCTYPE html>
<html lang="pt" class="no-js">
  <head>
    <%- include('/head', {site, pageTitle: 'Início'}) %>
  </head>
  <body>
    <header class="page-header">
        <h1>
          A Jornada de Davi Brito
        </h1>
        <p>
          Os desdobramentos na vida de um rapaz que era um cara 
          comum da Bahia e tornou-se milionário após vencer 
          o programa de TV com maior repercussão no Brasil.
        </p>
    </header>
    <section>
      <header class="timeline-filters">
      <div class="timeline-filters-wrapper">
        <button class="filters__expand-button" aria-expanded="false">
          Filtrar e procurar
          <i class="fas fa-caret-down" aria-hidden="true"></i>
        </button>
        <div class="filters__options">
          <div class="filters__select-by-wrapper">
            <span class="filters__label">Filtrar por:</span>
            <% if (content.categories && content.categories.length > 0) { %>
              <select id="categories" class="filter-select filter-select--categories" multiple>
                <% content.categories.forEach(function (filter) { %>
                  <option value="<%= filter %>"><%= filter %></option>
                <% }); %>
              </select>
            <% } %>
            <% if (content.years && content.years.length > 0) { %>
              <select id="years" class="filter-select filter-select--years" multiple>
                <% content.years.forEach(function (filter) { %>
                  <option value="<%= filter %>"><%= filter %></option>
                <% }); %>
              </select>
            <% } %>
            <div class="filter-highlighted-wrapper">
              <input type="checkbox" id="filter-highlighted" name="filter-highlighted" />
              <label for="filter-highlighted">Apenas destaques</label>
            </div>
          </div>
          <div class="filters__search-sort-wrapper">
            <input class="filters__search-input" type="text" placeholder="Escreva aqui para pesquisar..." />
            <button class="filters__sort-button" data-sort="asc">
              <i class="fas fa-caret-down" aria-hidden="true"></i>
              <span class="sort-text">Mais antigo</span>
            </button>
          </div>            
        </div>
      </div>
      </header>
      <article class="timeline">
        <% content.entries.forEach(function (entry) { %>
          <%- include('/entry', { entry }) %>
        <% }); %>
      </article>
      <div class="timeline-screen-bottom">
        <button class="btn-back-to-top hide">
          <i class="fas fa-arrow-up"></i>
          <span class="sr-only">voltar ao topo</span>
        </button>
      </div>
    </section>
    <footer class="page-footer">
    </footer>

    <script src="js/classlist-polyfill.js"></script>
    <script src="js/site-js.js"></script>
  </body>
</html>
